In [20]:
#! pip install ydata_profiling==4.7.0

Requirement already satisfied: ydata_profiling==4.7.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.7.0)
Requirement already satisfied: scipy<1.12,>=1.4.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (1.11.4)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (2.2.1)
Requirement already satisfied: matplotlib<3.9,>=3.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (3.8.3)
Requirement already satisfied: pydantic>=2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (2.6.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (3.1.3)
Requirement already satisfied: visions<0.7.7,>=0.7.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata_profiling==4.7.0) (0.7.6)
Collecting numpy<2,>=1.16.0 (from ydata_profiling==4.7.0)
  Using cached numpy-1.26.4-cp39-cp39-macosx_10_9_x86_64.whl.metadata (61 kB)
Requirement already satisfied: htmlmin==0.1.12 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (4.66.2)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (1.11.2)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (0.14.1)
Requirement already satisfied: typeguard<5,>=4.1.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (4.1.5)
Requirement already satisfied: imagehash==4.3.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (1.9.3)
Requirement already satisfied: dacite>=1.8 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ydata_profiling==4.7.0) (0.59.0)
Requirement already satisfied: PyWavelets in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from imagehash==4.3.1->ydata_profiling==4.7.0) (1.5.0)
Requirement already satisfied: pillow in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from imagehash==4.3.1->ydata_profiling==4.7.0) (10.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from jinja2<3.2,>=2.11.1->ydata_profiling==4.7.0) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata_profiling==4.7.0) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata_profiling==4.7.0) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata_profiling==4.7.0) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata_profiling==4.7.0) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/florentsaunier/Library/Python/3.9/lib/python/site-packages (from matplotlib<3.9,>=3.2->ydata_profiling==4.7.0) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata_profiling==4.7.0) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/florentsaunier/Library/Python/3.9/lib/python/site-packages (from matplotlib<3.9,>=3.2->ydata_profiling==4.7.0) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib<3.9,>=3.2->ydata_profiling==4.7.0) (6.3.1)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from numba<1,>=0.56.0->ydata_profiling==4.7.0) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas!=1.4.0,<3,>1.1->ydata_profiling==4.7.0) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas!=1.4.0,<3,>1.1->ydata_profiling==4.7.0) (2024.1)
Requirement already satisfied: joblib>=0.14.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from phik<0.13,>=0.11.1->ydata_profiling==4.7.0) (1.3.2)
Requirement already satisfied: annotated-types>=0.4.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pydantic>=2->ydata_profiling==4.7.0) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pydantic>=2->ydata_profiling==4.7.0) (2.16.3)
Requirement already satisfied: typing-extensions>=4.6.1 in /Users/florentsaunier/Library/Python/3.9/lib/python/site-packages (from pydantic>=2->ydata_profiling==4.7.0) (4.8.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata_profiling==4.7.0) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata_profiling==4.7.0) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata_profiling==4.7.0) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests<3,>=2.24.0->ydata_profiling==4.7.0) (2024.2.2)
Requirement already satisfied: patsy>=0.5.4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from statsmodels<1,>=0.13.2->ydata_profiling==4.7.0) (0.5.6)
Requirement already satisfied: importlib-metadata>=3.6 in /Users/florentsaunier/Library/Python/3.9/lib/python/site-packages (from typeguard<5,>=4.1.2->ydata_profiling==4.7.0) (6.8.0)
Requirement already satisfied: attrs>=19.3.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata_profiling==4.7.0) (23.2.0)
Requirement already satisfied: networkx>=2.4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata_profiling==4.7.0) (3.2.1)

Requirement already satisfied: zipp>=0.5 in /Users/florentsaunier/Library/Python/3.9/lib/python/site-packages (from importlib-metadata>=3.6->typeguard<5,>=4.1.2->ydata_profiling==4.7.0) (3.17.0)
Requirement already satisfied: six in /Users/florentsaunier/Library/Python/3.9/lib/python/site-packages (from patsy>=0.5.4->statsmodels<1,>=0.13.2->ydata_profiling==4.7.0) (1.16.0)
Using cached numpy-1.26.4-cp39-cp39-macosx_10_9_x86_64.whl (20.6 MB)
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
blis 1.0.1 requires numpy<3.0.0,>=2.0.0, but you have numpy 1.26.4 which is incompatible.
thinc 8.3.2 requires numpy<2.1.0,>=2.0.0; python_version >= "3.9", but you have numpy 1.26.4 which is incompatible.
Successfully installed numpy-1.26.4

In [24]:
import numpy as np 
import pandas as pd
import math as m 
import matplotlib.pyplot as plt
from matplotlib.pyplot import *
import random
import seaborn as sns

## Ouverture de la base de données

In [25]:
df_objets = pd.read_csv('objets-trouves-restitution.csv',sep=';')

,Date,Date et heure de restitution,Gare,Code UIC,Nature d'objets,Type d'objets,Type d'enregistrement
0,2018-08-16T08:46:55+02:00,2018-08-16T10:52:08+02:00,Nantes,87481002.0,Téléphone portable,"Appareils électroniques, informatiques, appare...",Objet trouvé
1,2018-08-16T08:50:34+02:00,NaN,Redon,87471300.0,"Casque (vélo, moto)","Vélos, trottinettes, accessoires 2 roues",Objet trouvé
2,2018-08-16T09:11:18+02:00,NaN,Béziers,87781005.0,"Sac d'enseigne (plastique, papier, …)","Bagagerie: sacs, valises, cartables",Objet trouvé
3,2018-08-16T09:19:47+02:00,NaN,Rennes,87471003.0,"Manteau, veste, blazer, parka, blouson, cape","Vêtements, chaussures",Objet trouvé
4,2018-08-16T09:23:18+02:00,NaN,Paris Montparnasse,87391003.0,Sac à dos,"Bagagerie: sacs, valises, cartables",Objet trouvé

In [ ]:
df_objets.head()

Les colonnes étant séparées par l'opérateur ';' il est nécessaire de préciser en paramètres sep = ';'

## Analyse de la base de données

### Informations globales

In [15]:
df_objets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907276 entries, 0 to 907275
Data columns (total 7 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Date                          907276 non-null  object
 1   Date et heure de restitution  350898 non-null  object
 2   Gare                          906197 non-null  object
 3   Code UIC                      906197 non-null  float64
 4   Nature d'objets               907276 non-null  object
 5   Type d'objets                 907276 non-null  object
 6   Type d'enregistrement         907276 non-null  object
dtypes: float64(1), object(6)
memory usage: 48.5+ MB

In [27]:
df_objets.describe(include=['object'])

,Date,Date et heure de restitution,Gare,Nature d'objets,Type d'objets,Type d'enregistrement
count,907276,350898,906197,907276,907276,907276
unique,904783,350213,181,132,16,1
top,2017-07-04T07:29:58+02:00,2023-09-27T02:00:22+02:00,Paris Gare de Lyon,"Porte-monnaie, portefeuille","Bagagerie: sacs, valises, cartables",Objet trouvé
freq,4,42,70984,82184,289118,907276

La base de données contient 907 276 lignes et 7 colonnes.
Les champs sont principalement de type 'Object', c'est à dire, une chaine de caractères type 'str'.
Un champ de type 'float64' qui est 'Code UIC'

Le fait qu'il n'y ait pas énormément de champs de type 'int' restreint l'utilisation de certains packages d'aide à la compréhension de données comme pivot_table() par exemple.

### Analyse de la mémoire vive consommée

In [16]:
df_objets.memory_usage(index=True).sum()

50807588

La base de données occupe un volume de 50 807 588 bytes soit 50MB

In [17]:
df_objets.nunique()

Date                            904783
Date et heure de restitution    350213
Gare                               181
Code UIC                           181
Nature d'objets                    132
Type d'objets                       16
Type d'enregistrement                1
dtype: int64

### Analyse des doublons

In [18]:
doublons = df_objets.duplicated().sum()

# Affiche le nombre de doublons
print(f"Nombre de doublons : {doublons}")

f_objets = df_objets.drop_duplicates()

Nombre de doublons : 80

Les doublons représentants 80 lignes sur la totalité de la dataframe c'est à dire 0.00009 % , on peut les enlever.

## Valeurs manquantes

### Analyse valeurs manquantes

In [19]:
df_objets.isna().sum()

Date                                 0
Date et heure de restitution    556378
Gare                              1079
Code UIC                          1079
Nature d'objets                      0
Type d'objets                        0
Type d'enregistrement                0
dtype: int64

In [20]:
(df_objets.isna().sum()/len(df['Gare']))*100

Date                             0.000000
Date et heure de restitution    61.324007
Gare                             0.118927
Code UIC                         0.118927
Nature d'objets                  0.000000
Type d'objets                    0.000000
Type d'enregistrement            0.000000
dtype: float64

Les valeurs manquantes sont majoritairement des données relatives à l'heure et à la date de la restitution, pourtant il y a aussi des valeurs manquantes qui concerne les gares et leurs codes UIC.

61% des valeurs du champ 'Date et heure de restitution' sont manquantes

Le champ semble redondant avec le champ 'Date',la seule différence est l'ajout de l'information  'heure de restitution' qui n'est pas significative.

In [21]:
df_objets[df_objets['Gare'].isna()].isna().sum()

Date                               0
Date et heure de restitution     893
Gare                            1079
Code UIC                        1079
Nature d'objets                    0
Type d'objets                      0
Type d'enregistrement              0
dtype: int64

En prenant les valeurs manquantes de l'attribut 'Gare', on remarque que toutes les gares dont on ne connait pas le nom ont un code UIC inconnu ... cela peut sembler logique mais il y aurait très bien pu avoir une gare inconnue avec un UIC connu et vice versa. 
Au moins, nous sommes sûres.

Cela nous permettra par la suite d'enlever une des deux colonnes

In [30]:
df_objets = df_objets[df_objets['Gare'].notna()]

Date                                 0
Date et heure de restitution    555485
Gare                                 0
Code UIC                             0
Nature d'objets                      0
Type d'objets                        0
Type d'enregistrement                0
dtype: int64

In [32]:
df_objets = df_objets.drop(columns=['Type d\'enregistrement'])

,Date,Date et heure de restitution,Gare,Code UIC,Nature d'objets,Type d'objets
0,2018-08-16T08:46:55+02:00,2018-08-16T10:52:08+02:00,Nantes,87481002.0,Téléphone portable,"Appareils électroniques, informatiques, appare..."
1,2018-08-16T08:50:34+02:00,NaN,Redon,87471300.0,"Casque (vélo, moto)","Vélos, trottinettes, accessoires 2 roues"
2,2018-08-16T09:11:18+02:00,NaN,Béziers,87781005.0,"Sac d'enseigne (plastique, papier, …)","Bagagerie: sacs, valises, cartables"
3,2018-08-16T09:19:47+02:00,NaN,Rennes,87471003.0,"Manteau, veste, blazer, parka, blouson, cape","Vêtements, chaussures"
4,2018-08-16T09:23:18+02:00,NaN,Paris Montparnasse,87391003.0,Sac à dos,"Bagagerie: sacs, valises, cartables"
...,...,...,...,...,...,...
907270,2024-08-30T21:13:31+02:00,NaN,Nîmes,87775007.0,"Téléphone portable protégé (étui, coque,…)","Appareils électroniques, informatiques, appare..."
907271,2024-08-30T19:59:22+02:00,2024-09-04T12:34:26+02:00,Strasbourg,87212027.0,"Valise, sac sur roulettes","Bagagerie: sacs, valises, cartables"
907272,2024-08-30T20:55:27+02:00,2024-09-05T12:49:08+02:00,Lille Europe,87223263.0,"Valise, sac sur roulettes","Bagagerie: sacs, valises, cartables"
907273,2024-08-30T23:23:44+02:00,NaN,Nîmes,87775007.0,Sac à dos,"Bagagerie: sacs, valises, cartables"
907274,2024-08-30T23:36:00+02:00,2024-08-31T12:43:30+02:00,Nice,87756056.0,"Ordinateur, ordinateur portable, notebook prot...","Appareils électroniques, informatiques, appare..."

### Traitement des valeurs manquantes

In [33]:
# Vérifie si chaque Gare a un unique Code UIC
gare_unique_uic = df_objets.groupby("Gare")["Code UIC"].nunique()
gare_incorrecte = gare_unique_uic[gare_unique_uic > 1]

# Vérifie si chaque Code UIC correspond à une unique Gare
uic_unique_gare = df_objets.groupby("Code UIC")["Gare"].nunique()
uic_incorrect = uic_unique_gare[uic_unique_gare > 1]

# Affiche les résultats
if not gare_incorrecte.empty:
    print("Incohérences trouvées pour les Gares avec plusieurs Codes UIC:")
    print(gare_incorrecte)
else:
    print("Chaque Gare a un unique Code UIC.")

if not uic_incorrect.empty:
    print("Incohérences trouvées pour les Codes UIC avec plusieurs Gares:")
    print(uic_incorrect)
else:
    print("Chaque Code UIC correspond à une unique Gare.")

Chaque Gare a un unique Code UIC.
Chaque Code UIC correspond à une unique Gare.

In [34]:
df_objets = df_objets.drop(columns=["Code UIC"])

,Date,Date et heure de restitution,Gare,Nature d'objets,Type d'objets
0,2018-08-16T08:46:55+02:00,2018-08-16T10:52:08+02:00,Nantes,Téléphone portable,"Appareils électroniques, informatiques, appare..."

In [35]:
df_objets

,Date,Date et heure de restitution,Gare,Nature d'objets,Type d'objets
0,2018-08-16T08:46:55+02:00,2018-08-16T10:52:08+02:00,Nantes,Téléphone portable,"Appareils électroniques, informatiques, appare..."
1,2018-08-16T08:50:34+02:00,NaN,Redon,"Casque (vélo, moto)","Vélos, trottinettes, accessoires 2 roues"
2,2018-08-16T09:11:18+02:00,NaN,Béziers,"Sac d'enseigne (plastique, papier, …)","Bagagerie: sacs, valises, cartables"
3,2018-08-16T09:19:47+02:00,NaN,Rennes,"Manteau, veste, blazer, parka, blouson, cape","Vêtements, chaussures"
4,2018-08-16T09:23:18+02:00,NaN,Paris Montparnasse,Sac à dos,"Bagagerie: sacs, valises, cartables"
...,...,...,...,...,...
907270,2024-08-30T21:13:31+02:00,NaN,Nîmes,"Téléphone portable protégé (étui, coque,…)","Appareils électroniques, informatiques, appare..."
907271,2024-08-30T19:59:22+02:00,2024-09-04T12:34:26+02:00,Strasbourg,"Valise, sac sur roulettes","Bagagerie: sacs, valises, cartables"
907272,2024-08-30T20:55:27+02:00,2024-09-05T12:49:08+02:00,Lille Europe,"Valise, sac sur roulettes","Bagagerie: sacs, valises, cartables"
907273,2024-08-30T23:23:44+02:00,NaN,Nîmes,Sac à dos,"Bagagerie: sacs, valises, cartables"
907274,2024-08-30T23:36:00+02:00,2024-08-31T12:43:30+02:00,Nice,"Ordinateur, ordinateur portable, notebook prot...","Appareils électroniques, informatiques, appare..."

### Traitement des dates

In [36]:
# Convertir les colonnes 'Date' et 'Date et heure de restitution' au format datetime avec UTC
df_objets['Date'] = pd.to_datetime(df_objets['Date'], utc=True)
df_objets['Date et heure de restitution'] = pd.to_datetime(df_objets['Date et heure de restitution'], utc=True)

# Filtrer les lignes où 'Date et heure de restitution' n'est pas NaT
valid_dates = df_objets['Date et heure de restitution'].notna()

# Vérifier que 'Date et heure de restitution' est après 'Date' uniquement pour les lignes valides
date_check = df_objets.loc[valid_dates, 'Date et heure de restitution'] > df_objets.loc[valid_dates, 'Date']

# Afficher le résultat
if date_check.all():
    print("Toutes les valeurs valides de 'Date et heure de restitution' sont après 'Date'.")
else:
    print("Certaines valeurs valides de 'Date et heure de restitution' ne sont pas après 'Date'.")
    print(df_objets.loc[valid_dates & ~date_check, ['Date', 'Date et heure de restitution']])

Toutes les valeurs valides de 'Date et heure de restitution' sont après 'Date'.

## Échantillonnage

In [50]:
np.random.seed(345)

In [56]:
df_echan = df_objets.sample(n=100000,random_state=345).reset_index(drop=True)

df_echan

,Date,Date et heure de restitution,Gare,Nature d'objets,Type d'objets
0,2018-08-07 13:24:36+00:00,NaT,Montpellier Saint-Roch,Billets SNCF,Pièces d'identités et papiers personnels
1,2019-07-03 11:33:14+00:00,NaT,Rennes,"Valise, sac sur roulettes","Bagagerie: sacs, valises, cartables"
2,2021-06-25 16:32:18+00:00,2021-06-29 14:49:47+00:00,Montpellier Saint-Roch,"Porte-monnaie, portefeuille","Porte-monnaie / portefeuille, argent, titres"
3,2020-07-29 14:42:17+00:00,NaT,Lyon Perrache,"Porte-monnaie, portefeuille","Porte-monnaie / portefeuille, argent, titres"
4,2023-06-14 18:21:48+00:00,2023-08-11 12:22:20+00:00,Mantes-la-Jolie,Carte de crédit,"Porte-monnaie / portefeuille, argent, titres"
...,...,...,...,...,...
99995,2015-09-21 18:42:08+00:00,NaT,Paris Gare du Nord,"Manteau, veste, blazer, parka, blouson, cape","Vêtements, chaussures"
99996,2014-09-06 09:44:14+00:00,NaT,Caen,"Porte-monnaie, portefeuille","Porte-monnaie / portefeuille, argent, titres"
99997,2020-10-06 12:36:19+00:00,NaT,Paris Gare de Lyon,"Valise, sac sur roulettes","Bagagerie: sacs, valises, cartables"
99998,2016-06-20 11:45:39+00:00,NaT,Nancy,"Clés, porte-clés","Clés, porte-clés, badge magnétique"
99999,2018-05-02 12:25:11+00:00,2018-05-22 14:44:10+00:00,Lyon Part Dieu,Sac à dos,"Bagagerie: sacs, valises, cartables"

In [73]:
a = df_echan.groupby('Type d\'objets').count().sort_values(by='Nature d\'objets',ascending =False).head(10)

Les 10 types objets les plus trouvés sont les {'Bagagerie sacs, valises, cartables','Appareils électroniques, informatiques, appareils photo','Vêtements, chaussures','Porte-monnaie/portefeuille, argent, titres',....}

In [74]:
b = df_echan[df_echan['Date et heure de restitution'].notna()].groupby('Type d\'objets').count().sort_values(by='Nature d\'objets',ascending =False).head(10)

Les objets les plus restitués restent les objets liés à la bagagerie, les vêtements,chaussures perdent une place

In [78]:
a['% objets perdus'] = round((a['Nature d\'objets']-b['Nature d\'objets'])/a['Nature d\'objets']*100)

a

,Date,Date et heure de restitution,Gare,Nature d'objets,test,% objets perdus
Type d'objets,,,,,,
"Bagagerie: sacs, valises, cartables",31633,17032,31633,31633,46.157494,46.0
"Appareils électroniques, informatiques, appareils photo",15391,6977,15391,15391,54.668313,55.0
"Vêtements, chaussures",12552,2394,12552,12552,80.927342,81.0
"Porte-monnaie / portefeuille, argent, titres",11613,6069,11613,11613,47.739602,48.0
Pièces d'identités et papiers personnels,8157,2398,8157,8157,70.601937,71.0
Optique,5202,617,5202,5202,88.139177,88.0
"Clés, porte-clés, badge magnétique",4271,785,4271,4271,81.620229,82.0
"Livres, articles de papéterie",2201,530,2201,2201,75.920036,76.0
Divers,2195,462,2195,2195,78.952164,79.0
"Vélos, trottinettes, accessoires 2 roues",1545,496,1545,1545,67.896440,68.0

## Analyse graphique